.superInput {
    outline: none;
    margin-bottom: 15px;
    background-color: #f1e9fa;
}

.errorInput {
    outline: none;
    border: 2px solid #f33d3d;
    background: #f1e9fa;
}

.error {
    color: #e51313;
}